{% extends 'layout.twig' %}

{% block title %}Index users{% endblock %}

{% block content %}
    <h1>
        Lista kategorii
    </h1>
	<p>
        <a href="{{ url('/categories/add') }}" title="Add album">
            Dodaj nową kategorię
        </a>
    </p>
    {%  if categories|length > 0 %}

    <table>
        <thead>
        <tr>
            <th>Id</th>
			<th>Nazwa</th>
		
        <tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.id_category }}  </td>
					<td>{{ category.name }}  </td>
					<td>
                        <a href="{{ url('/categories/edit', {'id': category.id_category}) }}" title="Edit album">Edytuj</a>
                    </td>
                    <td>
                        <a href="{{ url('/categories/delete', {'id': category.id_category}) }}" title="Delete album">Usuń</a>
                    </td>
				</tr>
					
				
        {% endfor %}
		
        </tbody>
    </table>
   {% else %}
        <p>
            Brak kategorii do wyświetlenia.
        </p>
    {% endif %}
          
{% endblock %}