{% extends 'layout.twig' %}

{% block pagetitle %}Edytuj zdjęcie{% endblock %}

{% block content %}
    <h1>
        Edytuj zdjęcie
    </h1>
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content|trans }}
        </div>
    {% endfor %}
    <form action="{{ url('edit', {'id': file.id_file})  }}" {{ form_enctype(form) }} method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}