{% extends 'layout.twig' %}

{% block content %}

	{% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
			{% for file in files %}
			  <div class="row">
				{% for file in files |slice(0, 3) %}
					
						<div class="col-sm-2 col-md-4">			 
							  <div class="thumbnail">
									<img src="{{ app.request.basepath }}/media/{{ file.name }}" alt="" size="50%">
								  <div class="caption">
									<h3>{{ file.title }}</h3>
									<p>{{ file.description }}</p>
									<p><a href=" {{ url('view', {'id': file.id_file}) }}" class="btn btn-primary" role="button">Zobacz</a></p>
								  </div>
							  </div>
						  </div>
					{% endfor %}
				   </div>
				{% endfor %}
			
	
		
			
		
			<nav>   
				<ul class="pager">
			
				{% if paginator.page > 1 %}
					{% set previous = (paginator.page - 1) %}
					   <li class="previous">
					   <a href="{{ url('files', {'page': previous}) }}">
							<span aria-hidden="true">&larr;</span> Poprzednia strona</a>
					   </li>
				{% endif %}
					
				{% if paginator.page < paginator.pagesCount %}
					{% set next = (paginator.page + 1) %}
						<li class="next">
							<a href="{{ url('files', {'page': next}) }}">Kolejna strona <span aria-hidden="true">&rarr;</span></a>
						</li>
				{% endif %}
			   </ul>
			</nav>

		
{% endblock %}