{% extends 'layout.twig' %}
	{% block pagetitle %}Najnowsze zdjęcia{% endblock %}

{% block content %}


	{% block search %}
		
			{{ render( url('/files/search')) }}

	{% endblock %}

	
	{% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
			
			  
				{% for file in files  %}
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							
							<div class="thumbnail">
								 <img src="{{ app.request.basepath }}/media/{{ file.name }}" alt="{{ file.title }}" >
									 <div class="caption">
												<h3>{{ file.title }}</h3>
												<p>{{ file.description }}</p>
												<a href=" {{ url('view', {'id': file.id_file}) }}" class="btn btn-primary" role="button">Zobacz</a>
												
												{% if is_granted ('ROLE_ADMIN') %}
													<a href="{{ url('edit', {'id': file.id_file}) }}" class="btn btn-primary" role="button">Edytuj</a>
													<a href="{{ url('/files/delete', {'name': file.name}) }}" class="btn btn-danger" role="button">Usuń</a>
												{% endif %}
									</div>
							</div>
						</div>
					</div>
					{% endfor %}
			 
			<nav>   
				<ul class="pager">
			
				{% if paginator.page > 1 %}
					{% set previous = (paginator.page - 1) %}
					   <li class="previous">
					   <a href="{{ url('files', {'page': previous}) }}">
							<span aria-hidden="true">&larr;</span> Poprzednia strona</a>
					   </li>
				{% endif %}
					
				{% if paginator.page < paginator.pagesCount %}
					{% set next = (paginator.page + 1) %}
						<li class="next">
							<a href="{{ url('files', {'page': next}) }}">Kolejna strona <span aria-hidden="true">&rarr;</span></a>
						</li>
				{% endif %}
			   </ul>
			</nav>

		
		
{% endblock %}