{% extends 'layout.twig' %}
{% block pagetitle %}Wyniki{% endblock %}
{% block content %}

	{% block search %}
		
			{{ render( url('/files/search')) }}

	{% endblock %}


	{% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content|trans }}
        </div>
    {% endfor %}
			

	{% if files|length > 0 %}
		<h1>Znalezione zdjęcia w kategorii {{ name }}</h1>


		{% for file in files  %}
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							
							<div class="thumbnail">
								 <img src="{{ app.request.basepath }}/media/{{ file.name }}" alt="" size="40%" >
									 <div class="caption">
												<h3>{{ file.title }}</h3>
												<p>{{ file.description }}</p>
													<p>	
														<a href=" {{ url('view', {'id': file.id_file}) }}" class="btn btn-primary" role="button">Zobacz</a>
														
													</p>
										</a>
												</p>
									</div>
									  
							</div>
								
						 </div>
					</div>
					{% endfor %}
			 
			
			
    {% else %}
        <h3>Nie znaleziono zdjęć w kategorii {{ name }}</h3>
    {% endif %}
	
{% endblock %}