{% extends 'layout.twig' %}

{% block pagetitle %}Dodaj zdjęcie{% endblock %}

{% block content %}
    <h1>
        Dodaj zdjęcie
    </h1>
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content|trans }}
        </div>
    {% endfor %}
	

	
    <form action="{{ url('/files/upload') }}" {{ form_enctype(form) }} method="post">
        {{ form_widget(form) }}
    </form>
	
{% endblock %}