{% extends 'layout.twig' %}

{% block content %}

		<div class="thumbnail">
		
			<div class="row">
						
				<div class="col-lg-12 text-center">
					<img src="{{ app.request.basepath }}/media/{{ file.name }}">
						<div class="caption">
							<h4>Tytuł: {{ file.title }}</h4>
							<h4>Kategoria: {{ category.name }}</h4>
							
							<h5>Zdjęcie dodal: <a href="{{ url('/users/view', {'id': file.id_user }) }}" >{{ user.login }}</a></h5>
							<h6>Opis: {{ file.description }}</h6>
								
						</div>
						
						{% block grades %}
		
								{{ render( path('/grades/', {'id_file': file.id_file})) }}

						{% endblock %}
		
				</div>
				
			</div>
			
		</div>
		
		
		
		{% block comments %}

			<div>
				{{ render( path('/comments/', {'id_file': file.id_file})) }}
			</div>
			
		{% endblock %}
		

		
		
		
		
        
		
		
		
		

{% endblock %}






