{% extends 'layout.twig' %}
{% block pagetitle %}Zdjęcie{% endblock %}
{% block content %}

<a href="{{ url('files', {'page': page }) }}" class="btn btn-primary" role="button">Wróć</a>
{{renderBreadCrumbs()}}

	{% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
	
	{% if file %}

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="thumbnail">
					<img src="{{ app.request.basepath }}/media/{{ file.name }}" alt="{{ file.title }}" style="max-height:960px, max-width:800px" >
						<div class="caption">
							
								<h4>Tytuł: {{ file.title }}</h4>
								
							{% if user %}	
								<h5>Zdjęcie dodal: <a href="{{ url('/users/view', {'id': file.id_user }) }}" >{{ user.login }}</a></h5>
							{% else %}
								<h5>Konto usunięte</h5>
							{% endif %}
								<h6>Opis: {{ file.description }}</h6>
							
						</div>

			
						{% block grades %}
							{% if is_granted ('ROLE_USER') %}	
								{{ render( path('/grades/', {'id_file': file.id_file})) }}
							{% elseif is_granted ('ROLE_USER') %}
								{{ render( path('/grades/', {'id_file': file.id_file})) }}
							{% endif %}
						{% endblock %}
		
				</div>
		
			</div>
						{% block comments %}
							{% if is_granted ('ROLE_USER') %}	
								<div>
									{{ render( path('/comments/', {'id_file': file.id_file})) }}
								</div>
							{% elseif is_granted ('ROLE_USER') %}
								<div>
									{{ render( path('/comments/', {'id_file': file.id_file})) }}
								</div>
							{% endif %}
						{% endblock %}
		
		
		
		</div>
		
	{% else %}
			
		<h3>Brak zdjęć do wyświetlenia</h3>
			
	{% endif %}
		
		
		
{% endblock %}






