<!DOCTYPE html>
<html>
    <head>
        <title>{% block pagetitle %}{% endblock %}</title>
		
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ app.request.baseUrl }}/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/styl.css" />

    </head>
	

    <body>
	
        <div id="outer-wrapper">
		
				
			<header>
				<div class="menu btn-group">
                        
						 {% if is_granted ('ROLE_ADMIN') %}
							
								<a class="btn btn-inverse" href="{{ path('/users/') }}">Użytkownicy</a>
								<a class="btn btn-inverse" href="{{ path('categories') }}">Kategorie</a>
								<a class="btn btn-inverse" href="{{ path('files') }}">Strona główna</a>
								<a class="btn btn-inverse" href="{{ path('/files/upload') }}">Dodaj zdjęcie</a>
								<a class="btn btn-inverse" href="{{ path('/users/panel') }}">Twój profil</a>
								<a class="btn btn-inverse" href="{{ path('auth_logout') }}">Wyloguj się</a>
						 
						 {% elseif is_granted('ROLE_USER') %}
						
								<a class="btn btn-inverse" href="{{ path('files') }}">Strona główna</a>
								
								<a class="btn btn-inverse" href="{{ path('/files/upload') }}">Dodaj zdjęcie</a>
								<a class="btn btn-inverse" href="{{ path('/users/panel') }}">Twój profil</a>
								<a class="btn btn-inverse" href="{{ path('auth_logout') }}">Wyloguj się</a>
								
						{% else %}	
								<a class="btn btn-inverse" href="{{ path('files') }}">Strona główna</a>
								<a class="btn btn-inverse" href="{{ path('auth_login') }}">Zaloguj się</a>
								<a class="btn btn-inverse" href="{{ path('/register/') }}">Rejestracja</a>
						{% endif %}
                 </div>
				 
	
            </header>
		
         
			<div id="inner-wrapper">
							
				{% block content %}
			
				{% endblock %}
				
			</div>
			
				
			
		</div>   
        
	
	
		<script src="/components/jquery/jquery.min.js"></script>
		
		<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>
