{% extends 'layout.twig' %}

{% block pagetitle %}Użytkownicy{% endblock %}


{% block content %}


	{% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
	
    <h1>
        Lista użytkowników
    </h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Login</th>
		
            
            <th colspan="7">&nbsp;</th>
        </tr>
        </thead>
		
        <tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id_user|e }}</td>
					<td>{{ user.firstname|e }}</td>
					<td>{{ user.lastname|e }}</td>
					<td>{{ user.login|e }}</td>
				{% if is_granted ('ROLE_ADMIN') %}		
					<td>
						<p><a href="{{ url('/users/view', {'id': user.id_user}) }}">
						<button type="button" class="btn btn-success">Zobacz</button></a></p>
					</td>
				{% endif %}
				</tr>
				
        {% endfor %}
		
        </tbody>
    </table>
  
          
{% endblock %}