{% extends 'layout.twig' %}
{% block pagetitle %}Profil użytkownika{% endblock %}

{% block content %}

	{% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
	

    <div class="col-lg-12 text-center">

	<div class="thumbnail">
		
		<h4>{{ user.firstname }} {{ user.lastname }} </h4>
		<h4>{{ user.login }} </h4>
	
	{% if about %}
		<h2>O mnie:</h2>
		<p>{{ about.email }} </p>
		<p>{{ about.phone }} </p>
		<p>{{ about.description }} </p>
		<p>{{ about.website }} </p>
		<p>{{ about.city }} </p>
	{% else %}
		<small>Użytkownik nie dodał jeszcze "o mnie"</small>
	{% endif %}
	
	
	{% if is_granted ('ROLE_ADMIN') %}
		<hr>
		<h4>{{ role.name }} </h4>
		<p><a href=" {{ url('/users/edit', {'id': id_user }) }}" class="btn btn-primary" role="button">Edytuj dane logowania</a></p>
		<p><a href="{{ url('/users/edit_role', {'id': id_user}) }}"> <button type="button" class="btn btn-success">Zmień rolę</button></a></p>

	{% endif %}
	
	</div>
	
		{% for file in files %}
            <div class="row">
						<div class="col-md-8 col-md-offset-2">
			
							<div class="thumbnail">
								 <img src="{{ app.request.basepath }}/media/{{ file.name }}" alt="" size="40%" > 
									  <div class="caption">
											<h3>{{ file.title }}</h3>
											<p>{{ file.description }}</p>
											<a href=" {{ url('view', {'id': file.id_file}) }}" class="btn btn-primary" role="button">Zobacz</a>
										 {% if is_granted ('ROLE_ADMIN') %}
											<a href="{{ url('edit', {'id': file.id_file}) }}" class="btn btn-primary" role="button">Edytuj</a>
											<a href="{{ url('/files/delete', {'name': file.name}) }}" class="btn btn-danger" role="button">Usuń</a>
										{% endif %}
									  </div>
							</div>
								
						 </div>
					</div>
        {% endfor %}

		
		
		
	</div>
		
	
	  
		
    
{% endblock %}
