{% extends 'layout.twig' %}
{% block pagetitle %}Profil użytkownika{% endblock %}

{% block content %}

    <div class="col-lg-12 text-center">

	<div class="thumbnail">
		
		<h4>{{ user.firstname }} {{ user.lastname }} </h4>
		<h4>{{ user.login }} </h4>
		<h2>O mnie:</h2>
		<p>{{ about.email }} </p>
		<p>{{ about.phone }} </p>
		<p>{{ about.description }} </p>
		<p>{{ about.website }} </p>
		<p>{{ about.city }} </p>
		
	</div>
	
		{% for file in files %}
            <div class="row">
						<div class="col-md-8 col-md-offset-2">
			
							<div class="thumbnail">
								 <img src="{{ app.request.basepath }}/media/{{ file.name }}" alt="" size="40%" > 
									  <div class="caption">
											<h3>{{ file.title }}</h3>
											<p>{{ file.description }}</p>
											<p><a href=" {{ url('view', {'id': file.id_file}) }}" class="btn btn-primary" role="button">Zobacz</a></p>
									  </div>
							</div>
								
						 </div>
					</div>
        {% endfor %}

		
		
		
	</div>
		
	
	  
		
    
{% endblock %}
